body {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);

}




  p, h1, h2, h3, h4, h5, h6 {
    color: black;
    -webkit-text-stroke: 0.2px black;
  }
  h1 {
    text-align: center;
    font-size: 40px;
  }
  
  .banner header {
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
  
  .favGamesHeaderAndTitle {
    margin-bottom: 0;
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    border-radius: 5px; /* Add border radius for a rounded appearance */
    padding: 20px;
    text-align: center;

  }
  .favGamesHeaderAndTitle h3 {
    font-size: 20px;
  }

  .container {
    display: flex;
  }
  
  .container > div {
    margin-top: 20px;
    flex: 1;
    background-color:rgb(78, 99, 131);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px; /* Add border radius for a rounded appearance */
  }
  
  .container > div:last-child {
    margin-right: 0;
  }
  
  .container > div img {
    width: 500px;
    height: 180px;
  }
  
  .container > div .details {
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
  }
  
  .container > div h4 {
    margin: 0;
    margin-right: 5%;
  }
  
  .container > div p {
    margin: 5px 0 0;
  }
  .container > div .details .dealButton {
    background-color: lightgreen;
    padding: 15px 25px; /* Increase padding for a larger button */
    font-size: 16px; /* Increase font size for better visibility */
    border: none; /* Remove default button border */
    color: darkblue; /* Set text color to white for better contrast */
    border-radius: 5px; /* Add border radius for a rounded appearance */
    cursor: pointer; /* Show cursor pointer on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  }
  .container > div .details .DealButton:hover {
    background-color: darkgreen; /* Change background color on hover */
  }


  .selectedGame {
    display: flex;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(78, 99, 131);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 5px;
  }
  .selectedGame .details {
    flex-grow: 1;
    margin-right: 20px;
    font-size: 25px;
  }

  .selectedGame .dealButton{
    background-color: lightgreen;
    padding: 15px 25px; /* Increase padding for a larger button */
    font-size: 16px; /* Increase font size for better visibility */
    border: none; /* Remove default button border */
    color: darkblue; /* Set text color to darkblue to show user link to click for better contrast */
    border-radius: 5px; /* Add border radius for a rounded appearance */
    cursor: pointer; /* Show cursor pointer on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
    margin-left: 5%;
  }
  .selectedGame > img {
  max-width: 250px; /* Adjust the size as needed */
  margin-right: 20px;
      height: 120px;
    }
    .selectedGame .removeButton{
      background-color: rgb(214, 25, 0);
      padding: 15px 25px; /* Increase padding for a larger button */
      font-size: 16px; /* Increase font size for better visibility */
      border: none; /* Remove default button border */
      color: rgb(0, 0, 0); /* Set text color to light red to signify delete and for better contrast */
      border-radius: 5px; /* Add border radius for a rounded appearance */
      cursor: pointer; /* Show cursor pointer on hover */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
      margin-left: 5%;

    }

    .search {
      text-align: center; /* Center align the text */
      font-size: 25px;
      margin-bottom: 20px; /* Add some spacing at the bottom */
      margin-top: 50px;
      margin-bottom: 0;
      background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
      border-radius: 5px; /* Add border radius for a rounded appearance */
      padding: 20px;
      text-align: center;
    }
    
    #search-container {
      display: flex;
      justify-content: center; /* Center align the input and button */
      align-items: center;
      margin-bottom: 20px; /* Add some spacing at the bottom */
    }
    
    #game-search-input {
      padding: 10px; /* Increase padding for better visibility */
      font-size: 16px; /* Increase font size for better readability */
      border: 2px solid rgb(78, 99, 131); /* Add a border around the input */
      border-radius: 5px; /* Add border radius for a rounded appearance */
      width: 3000px;
    }
    
    #search-button {
      background-color: rgb(4, 100, 243);
      color: white;
      padding: 10px 20px; /* Increase padding for a larger button */
      font-size: 16px; /* Increase font size for better visibility */
      border: none; /* Remove default button border */
      border-radius: 5px; /* Add border radius for a rounded appearance */
      cursor: pointer; /* Show cursor pointer on hover */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
      transition: background-color 0.3s ease; /* Add a smooth transition effect */
    }
    
    #search-button:hover {
      background-color: rgb(58, 75, 100); /* Darken the background color on hover */
    }


  
    #game-results {
      display: none;
      align-items: center;
      margin-top: 20px;
      background-color: rgb(78, 99, 131);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      padding: 20px;
      border-radius: 5px;
    }

    
    #game-results .details {
      flex-grow: 1;
      margin-right: 20px;
      font-size: 25px;
      background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
      height: 250px;
      width: 160px;
    }

#game-results p{
  font-size: 12px;
}

#game-results H4{
  font-size: 20px;
}
#game-results .details .image img {
  width: 120px;
  max-height: 45px;
}
#game-results .details button {
  background-color: rgb(236, 238, 144);
  padding: 15px 25px;
  font-size: 16px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-left: 5%;
  vertical-align: middle;
  
}