.fav-games {
display: flex;
margin-bottom: 0;
background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
border-radius: 5px; /* Add border radius for a rounded appearance */
padding: 20px;
text-align: center;
margin-top: 20px;

}
.game-box {
    display:flex;
    margin-top: 20px;
    flex: 1;
    background-color:rgb(78, 99, 131);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 5px; 
}